DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce_management
DB_SCHEMA=lugaire
DB_USERNAME=lugaire
DB_PASSWORD=lugaire
CORS_ALLOWED_ORIGINS=http://localhost:3000
AUTH_BOOTSTRAP_ENABLED=true
AUTH_BOOTSTRAP_NAME=Administrator
AUTH_BOOTSTRAP_EMAIL=admin@lugaire.local
AUTH_BOOTSTRAP_PASSWORD=lugai.re
AUTH_BOOTSTRAP_ROLE=ADMIN
